<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<Suite name="Suite">
	<listeners>
		<listener class-name="org.testng.FailedAll"></listener>
	</listeners>

	<test name="Test">
	<parameter name="userName" value="TestUsername"></parameter>
		<classes>
			<class name="org.testng.ClassA" />
		</classes>
	</test> <!-- Test -->
</Suite> <!-- Suite -->
